
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #5117AC;
}

h1{
    text-align: center;
    font-size: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    top: 120px;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    border-radius: 15px;
    background-color: whitesmoke;
    min-width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:hover{
    min-width: 530px;
    min-height: 330px;
    box-shadow: 0 4px 8px 0 rgba(0,0,1,1);
    transition: 3ms;

}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

#goHome{
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-left: 70px;
}

.card a {
    background-color: #5117AC;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}



.container>form>label{
    color: white;

}

.container>form>input{
    border: 2px white solid;
    border-radius: 10px;
    width: 190px;
    height: 30px;

}
.container>form>select{
    width: 80px;
    height:30px ;
    border: 1px white solid;
    border-radius: 10px;
}

.container>form>button{
    width: 100px;
    height:40px ;
    border: 1px white solid;
    border-radius: 10px;
    color: white;
    background-color: #5117AC;
    font-weight: bold;
}

.container>form>button:hover{
    color: #5117AC;
    background-color: white;
    border: #5117AC 1px solid;
}

.navbar>a{
text-decoration: none;
color: white;
margin-left: 50px;

}



#home1{
    color: white;
    text-decoration: none;
    
}